[project]
name = "fm26"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "rarfile>=4.2",
]

[dependency-groups]
dev = [
    "pyinstaller>=6.16.0",
    "pytest>=8.3.4",
]
